{% load static %}

<!DOCTYPE html>
<html lang="en">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
<head>
<link rel="stylesheet" href="{% static "style/base.css" %}" />
<title>{% block title %}MyRestaurants by MyRecommentdations.org{% endblock %}</title>
</head>


<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NDMC</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/Project/">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">		Department<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/cba/">cba</a></li>
          <li><a href="/ascend/">ascend</a></li>
          <li><a href="/Project/">Cite</a></li>
        </ul>
      </li>

  </div>
</nav>
<div id="header">
  {% block header %}
  {% if user.username %}<p>User {{ user.username }}</p>
  {% else %}<p><a href="/login/">Sign in</a></p>{% endif %} 
  {% endblock %}
</div>
      
<div id="sidebar">
  {% block sidebar %}<ul><li><a href="">Home</a></li></ul>{% endblock %}
</div>

<div id="content">
  {% block content %}
  {% if error_message %}<p><strong>{{ error_message}}</strong></p>{% endif %}
  {% endblock %}
</div>
[<div id="footer">
  {% block footer %}{% endblock %}
</div>

</body>

</html>
